.button-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    background: hsl(0, 0%, 19%);
    margin-top: 20px;
    padding: 40px 40px;
    border-radius: 12px;
}