.container-counter {
    display: flex;
    width: 100%;
    margin: auto;
    font-size: larger;
}

.box-countOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: hsl(0, 0%, 15%);
    border-radius: 7px 0 0 7px;
    padding: 10px 10px;
}

.box-countTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: hsl(0, 0%, 15%);
    border-radius: 0 7px 7px 0;
    padding: 10px 10px;
}

.div-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}

.div-p {
    display: flex;
    flex-direction: column;
}

.div-p p {
    margin: auto 0px;
}

.btn-circle {
    font-weight: bold;
    cursor: pointer;
    background-color: hsl(225, 73%, 57%);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 10px hsl(0, 0%, 13%);
    padding: 10px 10px;
    transform: scale(1.0);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
}
  
.btn-circle:hover {
    background-color: hsl(210, 100%, 56%);
    box-shadow: 0 0 20px #202020;
    color: navy;
    transform: scale(1.05);
}
  
.btn-circle:active {
    background-color: hsl(207, 44%, 49%);
    box-shadow: 0 0 0px hsl(0, 0%, 13%);
    color: hsl(120, 73%, 75%);
    transform: scale(0.95);
}
  
.react-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}