.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    background: hsl(0, 0%, 19%);
    border-radius: 12px;
    margin: auto;
    margin-bottom: 20px;
    padding: 60px 40px;
}

.para-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: hsl(0, 0%, 19%);
    padding: 20px;
    border-radius: 7px;
    box-shadow: inset 0 0 10px hsl(0, 0%, 0%);
}

.para-img {
    width: 680px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-quote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: auto;
    margin: auto;
    color: hsl(0, 0%, 96%);
}

.img {
    display: flex;
/*     width: 700px;
    height: auto; */
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.8);
}

@media only screen and (max-width: 1200px) {
    .frame {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 300px;
        background: hsl(0, 0%, 19%);
        border-radius: 12px;
        margin: auto;
        margin-bottom: 20px;
        padding: 60px 40px;
    }
    .para-quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 550px;
        height: 300px;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        color: hsl(0, 0%, 19%);
        padding: 20px;
        border-radius: 7px;
        box-shadow: inset 0 0 10px hsl(0, 0%, 0%);
    }
    .para-img {
        width: 300px;
        height: auto;
    }
    .img {
        width: 440px;
        height: auto;
        object-fit: cover;
        border-radius: 7px;
        box-shadow: 0 0 4px rgba(50, 50, 50, 0.8);
    }
    .layer-quote {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 160px;
        margin: auto;
        color: hsl(0, 0%, 96%);
    }
}