.label-select {
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(39, 100%, 50%);
}
  
.select {
    font-size: 1.0rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(180, 100%, 50%);
    margin: 0px 20px;
    padding: 5px 10px;
}